#Prevent secrets, logs, caches, and Streamlit state from being committed.

.env
.env.*
*.log

.streamlit/
.DS_Store

# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
**/__pycache__/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

#Additionals
feedback/
